<div class="card">
  <div class="card-header">
    <h5>Categorias</h5>
  </div>
  <div class="card-body">
    <div class="mb-2">
      <a href="/panel" class="btn btn-primary form-control text-left">
        <i class="fa fa-blog"></i>&nbsp;Publicaciones
      </a>
    </div>
    <div class="mb-2">
      <a href="/panel/notice" class="btn btn-primary form-control text-left">
        <i class="fa fa-newspaper"></i>&nbsp;Noticias
      </a>
    </div>
    <div class="mb-2">
      <a href="/panel/events" class="btn btn-primary form-control text-left">
        <i class="fa fa-calendar"></i>&nbsp;Eventos
      </a>
    </div>
    <div class="mb-2">
      <a href="/panel/club" class="btn btn-primary form-control text-left">
        <i class="fa fa-gamepad"></i>&nbsp;Clubs de ocio
      </a>
    </div>
    <div class="mb-2">
      <a href="#" class="btn btn-primary form-control text-left">
        <i class="fa fa-school"></i>&nbsp;Clubs de estudio
      </a>
    </div>
    <div class="mb-2">
      <a href="#" class="btn btn-primary form-control text-left">
        <i class="fa fa-person-chalkboard"></i>&nbsp;Asesorias
      </a>
    </div>
    <div class="mb-2">
      <a href="#" class="btn btn-primary form-control text-left">
        <i class="fa fa-address-book"></i>&nbsp;Directorio escolar
      </a>
    </div>
    <div class="mb-2">
      <a href="#" class="btn btn-primary form-control text-left">
        <i class="fa fa-person"></i>&nbsp;Busca a un amigo
      </a>
    </div>
  </div>
</div>